{% extends "main/layout.html" %}

{% block head %}
<script>
    $(document).ready( ()=> {
        
        $('#content').addClass('contentwelcome');

        var vlijst = JSON.parse($('#onderwerplijst').attr('value'));
        var number = 0

        for (o in vlijst) {
            
                number++    
               
                var backgroundcolor = "var(--dmbglighten)";
                
                
                if (number % 2 == 0) {
                    backgroundcolor = "#cacbcd"
                }
                $(`.onderwerpbigheader`).append(`
                <div class="row" style="background-color: ${backgroundcolor}; z-index: 1;">
                    <p class="rowitem onderwerpletter">${o}</p>
                    <a href="/oefenen/overzicht/${o}"><p class="onderwerp rowitem">${vlijst[o].naam}</p></a>
                    
                </div>
                `); 


            
            /*
            $(`#onderwerp${o} .onderwerpheader `).append(`
                <div class="progressbarbackground"  style="margin-top: 18px; margin-bottom: 18px;">
                    <div class="progressbar"  style="background-color: var(--primarylighten);width: ${gemiddeldevoortgang / Object.keys(vlijst[o].vaardigheid).length * 100}px;"></div>
                </div>
                <p class="progress" style="line-height: 60px; color: var(--whitetext);">${percentage}%</p>
            `);
            */
        };

        /* DEZE ANIMATIE KAN NOG GEBRUIKT WORDEN
        $('.onderwerpheader').click( function() {
            var onderwerp = $(this).parent();
            $(onderwerp).css({height: 'auto'});
            var height = $(onderwerp).height();
            $(onderwerp).toggle();
            $(onderwerp).children('.vaardigheidlijst').toggle();
            var height2 = $(onderwerp).height();
            $(onderwerp).css({height: height});
            $(onderwerp).toggle();
            $(onderwerp).animate({'height': height2}, 200);
            $(this).css('box-shadow', 'var(--box-shadow4dp)')
            
        });
        */
        
    });
</script>
<style>
    .progressbarbackground {
        width: 100px;
        background-color: var(--bg);
        height: 24px;
        float: right;
        margin: 8px;
        right: 0px;
    }

    .progressbar {
        width: 0px;
        height: 100%;
        background-color: var(--secondarylighten);
    }

    .progress {
        line-height: 40px;
        margin: 0px;
        float: right;
        color: var(--blacktext);
        font-family: Roboto Mono;
    }

    .row {
        height:40px;
    }

    .vaardigheidicon {
        height: 40px;
        line-height: 40px;
        padding-left: 8px;
        color: var(--whitetext);
    }

    #onderwerplijst {
        width: 100%;
        overflow: visible;
        box-shadow: var(--box-shadow4dp);
        
    }
    
    .onderwerptitel {
        padding-left: 8px;
        margin: 0px;
        line-height: 60px;
        font-size: 20px;
        max-height: 40px;
        font-family: Roboto Mono;
        font-style: oblique;
        color: var(--whitetext);
        font-weight: bold;
    }

    .onderwerpheader {
        background-color: var(--primary);
        position: relative;
        z-index: 1;
        height: 60px;
    }

    .onderwerpheader:hover {
        box-shadow: var(--box-shadow4dp);
        z-index: 4;
    }
    
    .onderwerpletter {
        margin: 0px 0px 0px 16px;
        line-height: 40px;
        font-family: Roboto Mono;
        font-size: 16px;
        color: rgba(0,0,0,0.85);
    }

    .onderwerp {
        margin: 0px;
        padding-left: 16px;
        font-size: 20px;
        line-height: 40px;
        font-family: inter;
        color: rgba(0,0,0,0.85);
    }

    .onderwerp:hover {
        text-decoration: underline;
        color: rgba(0,0,0,1)
    }

    .vaardigheidlijst {
        background-color: var(--dmbglighten);
    }

    .onderwerpbigheader {
        width: 500px; 
        background-color: var(--primarydarken); 
        z-index: 3;
        position: relative;
        box-shadow: var(--box-shadow4dp);
    }
</style>

{% endblock %}

{% block body %}
<h1>Welkom, {{ user }}</h1>
<p>Dit is jou eigen gebruikers pagina. Je kan hier snel navigeren naar een vaardigheid of snel een vaardigheid oefenen die je nog niet goed beheerst.</p>
<div class="onderwerpbigheader">
    <div style="box-shadow: var(--box-shadow2dp); position: relative; z-index: 4;"><h1 style="padding: 8px;">Onderwerpen:</h1></div>
</div>
<div id="onderwerplijst" value="{{ soortvaardigheid }}"></div>
{% endblock %}