{% extends "main/layout.html" %}
{% block head%}
    <script>
        $(document).ready( ()=> {
            
            // Animate the content entrance
            
            $('#content').addClass('contentwelcome');

            // Make the home item appear selected
            $(".navbaritem:contains('home')").css('background-color', 'var(--primarydarken)')
        })
    </script>
    <style>
        .indextext {
            max-width: 600px;
        }
    </style>
{% endblock %}
{% block body %}
<div class="indextext">
    <h1>Wiskunde met Ypma</h1>
    <p>Welkom op Ypma's Wiskunde Website, waar je kan oefenen voor wiskunde B.</p>
    <p>
    Deze website maakt gebruik van heel erg slimme algoritmes om te beslissen welke sommen je moet maken om beter te worden.
    Hoe meer opgaves je goed maakt, hoe eerder je naar de volgende vaardigheid kan.
    Door naar <span class="italic">oefenen</span> te gaan kan je per vaardigheid sommen oefenen.
    Gebruik <span class="italic">de grote oefenknop(tm)</span> om willekeurige vaardigheden te oefenen die je nog niet helemaal beheerst.
    Je kan ook alvast oefenen voor de toets, daar oefen je alle vaardigheden die je nodig hebt voor de toets.
    Er is ook een scoreboard om te vergelijken met je klasgenoten, dan kan je ze uitlachen als je beter bent in wiskunde.
    Je kan ook de wekelijkse wiskunde som maken waarbij je vaak <span class="italic">out of the box</span> moet denken.
    </p>
    <p>Als je wil beginnen met oefenen, klik dan op <span class="italic">registreren</span> en maak een account aan. Vergeet je wachtwoord niet, want dan moet Mr.Ypma die zelf herstellen, en geloof ons, daar heeft hij geen zin in.</p>
    <p>Deze website is gebouwd door Vincent Ruigrok en Christiaan van der Haven. Als je zelf ook zo'n leuke website wil, ga dan naar <span class="italic">over</span> en neem contact met ons op.</p>
</div>
{% endblock %}