{% extends "main/layout.html" %}
{% block head%}
    <script>
        $(document).ready( ()=> {
            
            // Animate the content entrance
            
            $('#content').addClass('contentwelcome');

            // Make the home item appear selected
            $(".navbaritem:contains('home')").css('background-color', 'var(--primarydarken)')
        })
    </script>
    <style>
        #home {
            background-color: var(--primarydarken);
        }
        .indextext {
            max-width: 600px;
        }
    </style>
{% endblock %}
{% block body %}
<div class="indextext">
    <h1>Wiskunde met Ypma</h1>
   <p>Welkom in het digitale wiskundelokaal van meneer Ypma.</p>

    <p>Op deze website kun je alle basisvaardigheden oefenen die je bij wiskunde op de middelbare school leert. Net als bij het leren van woordjes onthoud je deze vaardigheden alleen op de lange termijn als je ze vaker oefent. Daarom motiveert deze site je om iedere vaardigheid op minstens vijf verschillende dagen te oefenen.</p>
    
    <p>Om te beginnen met oefenen, klik je rechtsboven op registreren. Veel succes!</p>
</div>
{% endblock %}