{% extends "main/layout.html" %}
{% block head%}
    <script>
        $(document).ready( ()=> {
            
            // Animate the content entrance
            
            $('#content').addClass('contentwelcome');

            // Make the home item appear selected
            $(".navbaritem:contains('home')").css('background-color', 'var(--primarydarken)')
        })
    </script>
    <style>
        .indextext {
            max-width: 600px;
        }
    </style>
{% endblock %}
{% block body %}
<div class="indextext">
    <h1>Wiskunde met Ypma</h1>
   <p>Deze website is gebouwd door Vincent Ruigrok en Christiaan van der Haven. Als je zelf ook zo'n leuke website wil, ga dan naar <span class="italic">over</span> en neem contact met ons op.</p>
</div>
{% endblock %}