{% extends "main/layout.html" %}
{% block head%}
    <script>
        $(document).ready( ()=> {
            
            // Animate the content entrance
            
            $('#content').addClass('contentwelcome');

            // Make the home item appear selected
            $(".navbaritem:contains('inloggen')").css('background-color', 'var(--primarydarken)')
        })
    </script>
    <style>
        input[required] {
            border: none;
            border-radius: 0px;
            padding: 8px;
            width: 240px;
            font-size: 16px;
            margin-top: 8px;
            margin-bottom: 8px;
            background-color: var(--dmbglighten);
            color: var(--whitetext);
            box-shadow: none;
        }

        input[required]:hover {
            box-shadow: var(--box-shadow4dp);
        }

        input[required]:focus {
            outline: none !important;
            box-shadow: var(--box-shadow4dp);
            color: var(--blacktext);
        }

        label {
            color: var(--whitetext);
            font-size: 16px;
            pointer-events: none;
        }

    </style>
{% endblock %}
{% block body %}
    <div>
        <form method="post">
            {% csrf_token %}
            
            {% if request.GET.next %}
            <input type="hidden" name="next" value="{{ request.GET.next }}">
            {% endif %}
            <div class="inputwrapper">
                <label>Gebruikersnaam:</label><br>
                <input type="text" name="username" autofocus required><br>
            </div>
            <div class="inputwrapper">
                <label>Wachtwoord:</label><br>
                <input type="password" name="password" required><br>
            </div>
            <button type="submit" value="login" class="submitbutton">LOGIN</button>
        </form><br>
        <a style="color: var(--secondarylighten);" href="{% url 'password_reset' %}">Ik weet mijn wachtwoord niet meer.</a>
    </div>
{% endblock %}