{% extends "main/layout.html" %}
{% block head%}
    <script>
        $(document).ready( ()=> {
            
            // Animate the content entrance
            
            $('#content').addClass('contentwelcome');

            // Make the home item appear selected
            $(".navbaritem:contains('over')").css('background-color', 'var(--primarydarken)')
        })
    </script>
    <style>
        .overtext {
            max-width: 600px;
        }
        .contacttable {
            font-family: Roboto Mono;
            margin: 0px;
        }
        .row {
            height: 40px;
            min-width: 200%;
        }
        .rowitem {
            min-width: 400px;
        }
        .subtitle {
            margin-top: 40px;
        }
        #contactbtn {
            font-size: 16px;
            background-color: var(--primarydarken);
            color: var(--whitetext);
            padding: 8px;
            text-decoration: none;
            transition: box-shadow 0.2s ease-in-out;
        }
        #contactbtn:hover {
            box-shadow: var(--box-shadow4dp);
        }
    </style>
{% endblock %}
{% block body %}
<div class="overtext">
    <h1>over ons</h1>
    <h1 class="subtitle">Peter Ypma</h1>
    <h1 class="subtitle">Vincent Ruijgrok</h1>
    <h1 class="subtitle" style="margin-bottom: 40px;">Christiaan van der Haven</h1>
    <a href="https://docs.google.com/forms/d/e/1FAIpQLSeH7Qa6vKHBQRctEJNblyxIjGwk_CHEjw0AdKRw03kXlLOX_w/viewform?usp=sf_link" id="contactbtn" >Contact, Bugs en Vragen</a>
</div>
{% endblock %}