{% extends "main/layout.html" %}
{% block head%}
    <script>
        $(document).ready( ()=> {
            
            // Animate the content entrance
            
            $('#content').addClass('contentwelcome');

            // Make the home item appear selected
            $(".navbaritem:contains('over')").css('background-color', 'var(--primarydarken)')
        })
    </script>
    <style>
        #over {
            background-color: var(--primarydarken);
        }
        .overtext {
            max-width: 600px;
        }
        .contacttable {
            font-family: Roboto Mono;
            margin: 0px;
        }
        .row {
            height: 40px;
            min-width: 200%;
        }
        .rowitem {
            min-width: 400px;
        }
        .subtitle {
            margin-top: 40px;
        }
        #contactbtn {
            font-size: 16px;
            background-color: var(--primarydarken);
            color: var(--whitetext);
            padding: 8px;
            text-decoration: none;
            transition: box-shadow 0.2s ease-in-out;
        }
        #contactbtn:hover {
            box-shadow: var(--box-shadow4dp);
        }
    </style>
{% endblock %}
{% block body %}
<div class="overtext">
    <h1>Over ons</h1>
    <p>Deze website is gemaakt door Christiaan van der Haven, Vincent Ruijgrok en Peter Ypma. Christiaan en Vincent maken voor hun profielwerkstuk een methode voor het schoolvak informatica. Deze website begon er zo mooi uit te zien dat meneer Ypma ook veel mogelijkheden zag voor zijn wiskundelessen. Daarop zijn Christiaan en Vincent aan de slag gegaan om de website zo aan te passen dat die nog beter voldeed aan de wensen van meneer Ypma. Hierbij is Vincent vooral verantwoordelijk voor de backend en Christiaan voor de front end. Vervolgens heeft meneer Ypma de wiskunde op deze site toegevoegd.
    </p>
    <p style="margin-bottom: 40px;">Als je vragen of opmerkingen hebt voor een van ons horen we deze graag via het onderstaande formulier.</p>

    <a href="https://docs.google.com/forms/d/e/1FAIpQLSeH7Qa6vKHBQRctEJNblyxIjGwk_CHEjw0AdKRw03kXlLOX_w/viewform?usp=sf_link" id="contactbtn" target="_blanc" >Contact, Bugs en Vragen</a>
</div>
{% endblock %}