<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oefenen</title>
</head>
<body>
    <h1>Welkom op Wiskunde met Ypma - kies welke vaardigheid je wilt oefenen</h1>
    {{ onderwerpen }}
    <ul>
        {% for o in onderwerpen %}
        <li><a href="/oefenen/{{o.1 }}/{{ o.2 }}">{{ o.0 }}</a></li>
        {% endfor %}
    </ul>
</body>
</html>