{% extends 'oefenen/layout.html'%}

{% block head %}
    <script>
        $(document).ready( ()=> {

            $('#blockbody').removeClass();
            try {
                if (window.history.state.animate === 'up') {
                    $('#blockbody').addClass('slide-in-fwd-center');
                }
            } catch (error) {

            };

            var lijst = JSON.parse($('#overzicht').attr('value'));
            var letter = $('#listcontainer').attr('value');
            var gemiddeldevoortgang = 0.0;

            for (var v = 0; !(lijst[v] === undefined); v++) {

                var backgroundcolor = "var(--dmbglighten)";
                if (v % 2 == 0) {
                    backgroundcolor = "#cacbcd"
                }


                $('#listcontainer').append(`
                    <div class="row" style="background-color: ${backgroundcolor}; z-index: 1;">
                        
                        <a class="uitleglink" href="/oefenen/uitleg/${letter}/${lijst[v][1]}"><p class="vaardigheid rowitem">${lijst[v][0]}</p></a>
                        <div class="progressbarbackground">
                            <div class="progressbar" style="width: ${Math.min(lijst[v][2], 100)}px">
                                <div class="progressbar" style="background-color: var(--secondary); width: ${Math.min(100, Math.max(0, lijst[v][2] - 100))}px;"></div>
                            </div>
                        </div>
                        <p class="progress">${Math.min(lijst[v][2], 200)}%</p>
                    </div>
                `)

                gemiddeldevoortgang += lijst[v][2]
            };

            var percentage = Math.round(gemiddeldevoortgang / Object.keys(lijst).length / 2);
            if (isNaN(percentage)){
                percentage = 0
            };

            $('#listtitle').append(`
                <div >
                <div class="progressbarbackground"  style="margin-top: 18px; margin-bottom: 18px;">
                    <div class="progressbar"  style="background-color: var(--primarylighten);width: ${percentage}px;"></div>
                </div>
                <p class="progress" style="line-height: 60px; color: var(--whitetext);">${percentage}%</p>
                </div>
            `);

            $('.uitleglink').click( function(event) {
                var link = $(this).attr('href');
                $('#blockbody').removeClass();
                $('#blockbody').addClass('slide-out-bck-center');
                event.preventDefault();

                window.setTimeout( ()=> {
                    history.pushState({'animate' : 'down'}, null, link)
                    window.location.href = link;
                }, 500);
            });
        });
    </script>
    <style>
        .progressbarbackground {
            width: 100px;
            background-color: var(--bg);
            height: 24px;
            float: right;
            margin: 8px;
            right: 0px;
        }

        .progressbar {
            width: 0px;
            height: 100%;
            background-color: var(--secondarylighten);
        }

        .progress {
            line-height: 40px;
            margin: 0px;
            float: right;
            color: var(--blacktext);
            font-family: Roboto Mono;
        }
        #overzicht {
            margin: 120px 20% 0 20%;
        }
        #listcontainer {
            background-color: var(--primary);
            box-shadow: var(--box-shadow4dp);
        }
        #listtitle {
            box-shadow: var(--box-shadow2dp);
            z-index: 4;
            height: 60px;
            position: relative;
        }
        .vaardigheid {
            margin: 0px;
            padding-left: 16px;
            font-size: 20px;
            line-height: 40px;
            font-family: inter;
            color: rgba(0,0,0,0.85);
        }
        .vaardigheid:hover {
            text-decoration: underline;
        }
        .row {
            height: 40px;
        }
        #oefenknop {
            position: absolute;
            left: 50%;
            margin: 40px 0px 100px 0px;
            transform: translate(-50%, 0);
            padding: 4px 16px 4px 16px;
            height: 40px;
            max-width: 400px;
            background-color: var(--primarydarken);
            font-family: yantramanav;
            font-size: 28px;
            color: var(--whitetext);
            border-radius: 0px;
            text-decoration: none;
            box-shadow: var(--box-shadow2dp);
            transition: box-shadow 0.2s ease-in-out;
        }
        #oefenknop:hover {
            box-shadow: var(--box-shadow8dp);
        }

        #oefenknop::after {
            content: '';
            position: absolute;
            top: 100px;
            height: 20px;
            width: 100%;
        }

        #oefenknoptext {
            font-family: yantramanav;
            font-size: 28px;
            color: var(--whitetext);
            margin: 0px;
            float: right;
            line-height: 40px;
        }
    </style>
{% endblock %}
{% block body %}
    <!-- Print het overzicht uit met een mooie link naar het begin van die vaardigheid -->
    <div id="overzicht" value="{{ lijst }}">
        <h1 style="margin-bottom: 0px;">Overzicht bij het onderwerp</h1>
        <p style="margin-top: 0px; color: var(--whitetext)">Kies een vaardigheid uit de lijst om te oefenen.</p>
        <div id="listcontainer" value="{{ letter }}">
            <div id="listtitle" class="row">
                <div class="rowitem"><h1 style="padding: 8px; margin: 0px;">{{ onderwerp }}</h1></div>
            </div>
        </div>

        <!--<a id="oefenknop" href="/hoiditisvincentsprobleem"><p id="oefenknoptext">OEFEN DIT ONDERWERP</p></a>-->

        
    </div>
    
    
{% endblock %}