{% extends 'oefenen/layout.html' %}

{% block head %}
<style>
    #uitleg {
        margin: 60px 20% 20px 20%;
    }
    .opgaveribbon {
        background-color: var(--primary);
        height: 48px;
        padding-left: 16px;
        font-family: inter;
        line-height: 48px;
        font-size: 28px;
        color: var(--whitetext);
        box-shadow: var(--box-shadow2dp);
    }
    .opgavetext {
        font-size: 20px;
        padding: 16px;
        color: rgb(0,0,0,0.8)
    }
    .theoriebackground {
        width: 100%;
        background-color: var(--dmbglighten);
        box-shadow: var(--box-shadow2dp);
    }
    #oefenknop {
        position: absolute;
        left: 50%;
        margin: 20px 0px 100px 0px;
        transform: translate(-50%, 0);
        padding: 4px 16px 4px 16px;
        height: 40px;
        max-width: 132px;
        background-color: var(--primarydarken);
        font-family: yantramanav;
        font-size: 28px;
        color: var(--whitetext);
        border-radius: 0px;
        text-decoration: none;
        box-shadow: var(--box-shadow2dp);
        transition: box-shadow 0.2s ease-in-out;
    }
    #oefenknop:hover {
        box-shadow: var(--box-shadow8dp);
    }

    #oefenknop::after {
        content: '';
        position: absolute;
        top: 100px;
        height: 20px;
        width: 100%;
    }

    #oefenknoptext {
        font-family: yantramanav;
        font-size: 28px;
        color: var(--whitetext);
        margin: 0px;
        float: right;
        line-height: 40px;
    }
</style>
{% endblock %}
{% block body %}

<!-- Render de uitleg op basis van de uitleg variabele van views.py -->
<div id="uitleg">
    <div style="height: 100px;"></div>
    
    <div class="theoriebackground">
        <div class="opgaveribbon">Theorie</div>
        <div class="opgavetext">{{ uitleg.uitleg|safe }}</div>
    </div>
    
    <div class="theoriebackground">
        <div class="opgaveribbon">Voorbeeld</div>
        <div class="opgavetext">{{ uitleg.voorbeeld|safe }}</div>
    </div>
</div>
<a id="oefenknop" href="/oefenen/{{ letter }}/{{ pk }}"><p id="oefenknoptext">OEFEN!</p></a>

{% endblock %}

