{% extends 'oefenen/layout.html' %}

{% block head %}
<script>
    $(document).ready( ()=> {

        $('#maintitle').html('{{ vaardigheidnaam }}')

        $('#blockbody').removeClass();
        try {
            if (window.history.state.animate === 'left') {
                $('#blockbody').addClass('contentwelcomeleft');
            } else if (window.history.state.animate === 'right') {
                $('#blockbody').addClass('contentwelcomeright');
            } else if (window.history.state.animate === 'down') {
                $('#blockbody').addClass('slide-in-bck-center');
            } else if (window.history.state.animate === 'up') {
                $('#blockbody').addClass('slide-in-fwd-center');
            };
        } catch (error) {
            
        };

        var letter = $('#uitleg').attr('value');
        $('#backbutton').attr('href', `/oefenen/overzicht/${letter}`);

        // Variabelen voor de heen en weer knoppen tussen vaardigheden
        var vlijst = JSON.parse($('#uitleg').attr('name'));
        var linknum = parseInt($('#uitleg').attr('name1'));
        var previouslink = vlijst[vlijst.indexOf(linknum)-1]
        var nextlink = vlijst[vlijst.indexOf(linknum)+1]

        // Voeg beide knoppen toe met de juiste linkjes
        $('#background').append(`
            <div id="previous">
                <span id="previcon" class="material-icons">arrow_back_ios</span>
            </div>
        `);
        $('#background').append(`
            <div id="next">
                <span id="nexticon" class="material-icons">arrow_forward_ios</span>
            </div>
        `);

        // Als er geen vaardigheid voor of na is, verstop de knop
        if (previouslink === undefined) {
            $('#previous').hide();
        };
        if (nextlink === undefined) {
            $('#next').hide();
        };
        try {
            console.log(window.history.state.animate);
        } catch (error) {
            console.log("no states")
        }
            

        $('#previous').click( function(event) {
            $('#blockbody').removeClass('contentwelcomeleft contentwelcomeright')
            $('#blockbody').addClass('contentbegoneright')

            event.preventDefault();
            
            window.setTimeout( ()=> {
                history.pushState({'animate': 'right'}, null, `/oefenen/uitleg/${letter}/${previouslink}`);
                window.location.href = `/oefenen/uitleg/${letter}/${previouslink}`;
            }, 500);
        });

        $('#next').click(function(event) {
            $('#blockbody').removeClass();
            $('#blockbody').addClass('contentbegoneleft');

            event.preventDefault();

            window.setTimeout( ()=> {
                history.pushState({'animate': 'left'}, null, `/oefenen/uitleg/${letter}/${nextlink}`);
                window.location.href = `/oefenen/uitleg/${letter}/${nextlink}`;
            }, 500);
        })

        $('#backbutton').click( function(event) {
            $('#blockbody').removeClass();
            $('#blockbody').addClass('slide-out-fwd-center');
            event.preventDefault();

            window.setTimeout( ()=> {
                history.pushState({'animate': 'up'}, null, `/oefenen/overzicht/${letter}`);
                window.location.href = `/oefenen/overzicht/${letter}`;
            }, 500);
        });

        $('#oefenknop').click( function(event) {
            $('#blockbody').removeClass();
            $('#blockbody').addClass('slide-out-bck-center');

            event.preventDefault();

            window.setTimeout( ()=> {
                history.pushState({'animate': 'down'}, null, $('#oefenknop').attr('href'));
                window.location.href = $('#oefenknop').attr('href');
            }, 500);
        });

        $('img').click( function() {
            var link = $(this).attr('src');
            $('#modal').css({'display': 'block'});
            $('#modal').html(`
                <img src="${link}">
            `);
            $('#modal > img').addClass('expandimg');
        });

        $('#modal').click( function() {
            $(this).css({'display': 'none'});
        });
    });
</script>
<style>
    #modal {
        position: fixed;
        top: 0px;
        height: 100vh;
        width: 100vw;
        -webkit-perspective: 1000;
        display: none;
        z-index: 10;
        background-color: rgb(0,0,0,0.5);
    }

    #modal > img {
        position: absolute;
        width: 80%;
        margin: 10%;
        z-index: 10;
    }

    .expandimg {
        animation: expandimg 0.5s cubic-bezier(.38,.2,.51,.96);
        
    }

    @keyframes expandimg {
    0% {
        transform:scale(0);
    } 100% {
        transform: scale(1);
    }
    }

    #previous {
        position: fixed;
        top: 50%;
        left: 10%;
        z-index: 1;
    }
    #previcon {
        color: var(--secondarylighten);
        font-size: 120px;
        transition: all 0.1s ease-in-out;
    }
    #previcon:hover {
        font-size: 132px;
        transform: translate(-6px,-6px);
        cursor: pointer;
    }
    #next {
        position: fixed;
        top: 50%;
        right: 10%;
        z-index: 1;
    }
    #nexticon {
        color: var(--secondarylighten);
        font-size: 120px;
        transition: all 0.1s ease-in-out;
    }
    #nexticon:hover {
        font-size:132px;
        transform: translate(6px,-6px);
        cursor: pointer;
    }
    #uitleg {
        margin: 60px 20% 20px 20%;
    }
    .opgaveribbon {
        background-color: var(--primary);
        height: 48px;
        padding-left: 16px;
        font-family: inter;
        line-height: 48px;
        font-size: 28px;
        color: var(--whitetext);
        box-shadow: var(--box-shadow2dp);
    }
    .opgavetext {
        font-size: 20px;
        padding: 16px;
        color: rgb(0,0,0,0.8)
    }
    .theoriebackground {
        width: 100%;
        background-color: var(--dmbglighten);
        box-shadow: var(--box-shadow2dp);
    }
    #oefenknop {
        position: absolute;
        left: 50%;
        margin: 20px 0px 100px 0px;
        transform: translate(-50%, 0);
        padding: 4px 16px 4px 16px;
        height: 40px;
        max-width: 132px;
        background-color: var(--primarydarken);
        font-family: yantramanav;
        font-size: 28px;
        color: var(--whitetext);
        border-radius: 0px;
        text-decoration: none;
        box-shadow: var(--box-shadow2dp);
        transition: box-shadow 0.2s ease-in-out;
    }
    #oefenknop:hover {
        box-shadow: var(--box-shadow8dp);
    }

    #oefenknop::after {
        content: '';
        position: absolute;
        top: 100px;
        height: 20px;
        width: 100%;
    }

    #oefenknoptext {
        font-family: yantramanav;
        font-size: 28px;
        color: var(--whitetext);
        margin: 0px;
        float: right;
        line-height: 40px;
    }
</style>
{% endblock %}
{% block body %}

<!-- Render de uitleg op basis van de uitleg variabele van views.py -->
<div id="uitleg" value="{{ letter }}" name="{{ vaardigheid }}" name1="{{ pk }}">
    <div style="height: 100px;"></div>
    
    <div class="theoriebackground">
        <div class="opgaveribbon">Theorie</div>
        <div class="opgavetext">{{ uitleg.uitleg|safe }}</div>
    </div>
    
    <div class="theoriebackground">
        <div class="opgaveribbon">Voorbeeld</div>
        <div class="opgavetext">{{ uitleg.voorbeeld|safe }}</div>
    </div>
</div>
<a id="oefenknop" href="/oefenen/{{ letter }}/{{ pk }}"><p id="oefenknoptext">OEFEN!</p></a>


{% endblock %}

