<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Volgende</title>
</head>
<body>
    <!-- Maak een lijst met alle volgende vaardigheden -->
    <h1>Goed gedaan, je kan verder naar de volgende vaardigheid!</h1>
    {{ score }}
    <ul>
    {% for each in v %}
    <li>
        <a href="/oefenen/uitleg/{{ each.bijbehorend_onderwerp.letter }}/{{ each.nummer }}">{{ each.naam }}</a>
    </li>
    {% endfor %}
    </ul>
</body>
</html>