{% extends 'main/layout.html' %}

{% block body %}
    <!-- Reset Password -->
    

    {% if validlink %}
        <h1>Herstel wachtwoord</h1>

        <p>Voer hier je nieuwe wachtwoord in.</p>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}                    
            <button class="submitbutton" type="submit">Herstel wachtwoord</button>
        </form>
    {% else %}
        <h1>Let op!</h1>
        <p>Dit is geen geldige link! Ga opnieuw naar <a href="{% url 'password_reset' %}">herstel je wachtwoord</a> en vraag een nieuwe link aan.</p>
    {% endif %}

{% endblock %}