<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Herstel je wachtwoord</title>
</head>
<body>
    {% autoescape off %}
    Hallo,
    <p>Deze mail wordt naar jou gestuurd omdat je een herstel van je wachtwoord hebt aangevraagd. Klik op deze <a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">link</a> om de je wachtwoord te resetten.</p>
    <p>Je kan deze link één keer gebruiken, vraag een nieuwe link aan op <a href="{{ protocol }}://{{domain}}{% url 'password_reset' %}">deze</a> pagina.</p>
    <p>Mocht je je gebruikersnaam zijn vergeten, die is: <strong>{{ user.get_username }}</strong>.</p>
    <p>Als jij geen herstel hebt aangevraagd kan je deze mail negeren.</p>
    <p>Groetjes,<br>
    Het WiskundeVanYpma Support Team</p>

    <p>Mocht de link niet werken: dit is het volledige adres: {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}</p>

    {% endautoescape %}
</body>
</html>